/* This is for all pages*/


body{
  background-color: #2D68C4;

}

.header{
  display: flex;
  justify-content: space-between;
  <!-- HTML !-->
}

button{
  align-items: center;
  width: 15%;
  background-image: linear-gradient(144deg,#ffb300, #2d68c4 50%,white);
  border: 0;
  border-radius: 8px;
  box-shad%ow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 100%;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 16;
  padding: 3px;%
}

h1{
  font-family: 'Noto Serif Telugu', serif;
  color: #ffb300;
  font-size: 36px;
  margin: 0;
}

h3{
  font-family: 'Satisfy', cursive;
  color: whitesmoke; 
  font-size: 25px;
  font-weight: normal;
}

p{
  margin: 0;
  font-family: 'Noto Serif Telugu', serif;
  color: white;
  font-size: 18px;
}


hr{
  border-style: none;  
  border-top: dotted;
  border-color: #ffb300;
  border-width: 7px;
  width: 100%;
  padding: 0px;
}


img{
  width: 85%;
  border-style: solid;
  border-radius: 50%;
  border-width: 10%;
  border-color: #ffb300;  
}

.table{
 border-spacing: 20px;
 margin: auto;
 padding: 10px;
 white-space: wrap;
 margin-left: 0px;
}

.img-box{
  width: 50%;
}

td{
  padding: 0px;
  margin: 0px;
}

.table tr{
  flex-wrap: wrap;
}

.table td{
 
}

.experience{
  font-family: 'Noto Serif Telugu', serif;
  padding: 00;
  text-align: left;
  width: 100%;
}

.jobs{
  background-color: darkgray;
  color: white;
}

.catagories{
  
  background-color: #ffb300;
  color: #2D68C4
}