/* This is for all pages*/


body{
  background-color: #ffb300;
  
}

h1{
  font-family: 'Noto Serif Telugu', serif;
  color: #536895;
}


hr{
  border-style: none;  
  border-top: dotted;
  border-color: #536895;
  border-width: 7px;
  width: 100%;
  padding: 0px;
}


img{
  width: 85%;
  border-style: solid;
  border-radius: 50%;
  border-width: 10%;
  border-color: #536895;  
}

.table{
  border-spacing: 20px;
}

.img-box{
  width: 50%;
}